*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
 
    height: 100vh;
}
.left{
    
    margin-top: 150px;
}
.left input{
    width: 400px;
    padding: 10px;
    margin: 10px;
}

table{
    margin-top: 240px;
    margin-left: 50px;
    width: 200px;
}
.right{
    
}

.right table tr td{
border: 2px solid black;
padding: 5px;
}